@model Thinh.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>HomePageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form  asp-controller="Account" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="productId" />
            <div class="form-group">
                <label asp-for="productName" class="control-label"></label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productCategory" class="control-label"></label>
                <input asp-for="productCategory" class="form-control" />
                <span asp-validation-for="productCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productUrl" class="control-label"></label>
                <input asp-for="productUrl" class="form-control" />
                <span asp-validation-for="productUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label"></label>
                <input asp-for="productDescription" class="form-control" />
                <span asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productImgUrl" class="control-label"></label>
                <input asp-for="productImgUrl" class="form-control" />
                <span asp-validation-for="productImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

